<div class="dashboard">
    <div class="sidebar">
        <div class="user">
            <img src="<%= user.image.url%>" alt="<%= user.firstName %> <%= user.lastName %>">
            <div class="details">
                <div class="name">
                    <span>
                        <%= user.firstName %>
                        <%= user.lastName %>
                    </span>
                </div>
                <div class="role">
                   <span><%= user.role %></span> 
                </div>

            </div>
        </div>
        <div class="navigation">
            <ul>
                <li>Hi there</li>
            </ul>
        </div>
    </div>
    </aside>
</div>