<div class="dashboard">
    <div class="sidebar">
        <div class="user">
            <img src="<%= user.image.url%>" alt="<%= user.firstName %> <%= user.lastName %>">
            <div class="details">
                <div class="name">
                    <span>
                        <%= user.firstName %>
                            <%= user.lastName %>
                    </span>
                </div>
                <div class="role">
                    <span>
                        <%= user.role %>
                    </span>
                </div>

            </div>
        </div>

        <div class="navigation">
            <a href="/dashboard">Dashboard</a>
            <a href="/dashboard/food">Products</a>
            <a href="#clients">Employees</a>
            <a href="#contact">Customers</a>
            <a href="#contact">Suppliers</a>
            <a href="#contact">Tables</a>
            <a href="#contact">Categories</a>
            <button class="dropdown-btn">Manage
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
    </aside>
</div>