<div class="dashboard">
    <div class="topbar">
        <div class="user">
            <div class="details">
                <span class="name">
                    <%= user.firstName %>
                        <%= user.lastName %>
                </span>
                <span class="role">
                    <%= user.role %>
                </span>
            </div>
            <img src="<%= user.image.url %>" alt="<%= user.firstName %> <%= user.lastName %>">


        </div>
    </div>
</div>