<div class="dashboard">
    <div class="topbar">
        <button class="announce"><i class='bx bxs-megaphone'></i> Announce</button>
        <button class="dark-mode">
            <i class='bx bxs-moon'></i>
        </button>
        <div class="user">
            <div class="details">
                <span class="name">
                    <%= user.firstName %>
                        <%= user.lastName %>
                </span>
                <span class="role">
                    <%= user.role %>
                </span>
            </div>
            <img src="<%= user.image.url %>" alt="<%= user.firstName %> <%= user.lastName %>">
        </div>

    </div>
</div>